.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href=root_path) Hacker Union
      .container.nav-collapse
        %ul.nav
          %li= login_or_logout_link
          %li= sign_up_or_edit_registration_link
          %li= edit_profile_link
