%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Affiliations
      %th Skills
      %th Ambassadorness
      %th Email
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.name, member_path(member)
        %td= affiliations_list_for(member)
        %td= skills_list_for(member)
        %td
          - if member.ambassador?
            .icon-user
        %td= member.email