%h1 Hi We're editing you

=form_for @member do
  .span4
    =label_tag :name
    =label_tag :affiliations
  %br
  .span4
    =text_field_tag :name, @member.name
    =text_field_tag :affiliations, affiliations_list_for(@member)
  %br
  =submit_tag :submit
