<h1>Pending Members</h1>

<table>
<tr><th>Name</th><th>Affiliations</th></tr>
<% @members.each do |member| %>
<tr>
<td><%= member.name %></td>
<td><%= affiliations_list_for(member) %></td>
<td><%= link_to "Approve", approve_member_path(member) %></td>
</tr>
<% end %>
</table>
