<h1>Pending Members</h1>

<table>
<tr>
  <th>Email</th>
<% @members.each do |member| %>
<tr>
<td><%= member.email %></td>
<td><%= button_to "Approve", approve_member_path(member), method: "put" %></td>
</tr>
<% end %>
</table>
