%h2
  = @member.name || "This user has not entered their name yet."
  -if @member.ambassador?
    #ambassador{style: "float: left; margin-right: 10px;"}=image_tag 'dolphin.jpg'

%p
%p Email: #{@member.email}

=toggle_ambassador_button(@member.id)